.header1 {
    background-color: #2196F3;
    color: #fff;
    text-align: center;
    padding: 50px 15px;

    .imgB img {
        height: 100px;
        width: auto;
    }

    .hrow {
        margin-bottom: 20px;
    }
    
    .description {
        font-size: 16px;
    }
    
    
}